@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <a asp-action="Index" style="color:black; text-decoration:none;"><h1>Horizon</h1></a>
    <h2>We Are Built Different</h2>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-right">
        <div>
            <a asp-action="Search" class="btn-sm btn-danger">Search</a>
            <a asp-action="Login" class="btn-sm btn-primary">Login</a>
            <a asp-action="MyCart" class="btn-sm btn-warning">My Cart</a>
        </div>
    </div>
    <!-- containter used to hold both buttons, good to use it to center them-->
    <div id="container">
        <button type="buttonWomens" id="button1"> Womens </button>
        <button type="buttonmens" id="button2">Mens </button>
    </div>

    <div>
        Search:
        <input class="form-control" placeholder="Type here" />
    </div>






</body>
</html>